{% extends 'users/base.html' %}

{% block style %}
    <style>
        h1 {
            text-align: center;
        }
        a {
            display: inline-block;
            background: #313030;
            color: #FFF;
            border: 0;
            border-radius: 4px;
            text-align: center;
            padding: 20px 30px;
            line-height: 1;
            text-decoration: none;
        }
        a:hover {
          background: #c7c5c5;
          color: #313030;
        }
        .a2 {
            margin-left: 1em;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border: 3px solid #313030;
        }
    </style>
{% endblock style %}

{% block content %}
    <br>
        <div class="alert alert-success" role="alert">
            <h1>Welcome {{ user.username }}!</h1>
        </div>

        <p>Username: {{ user }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        
        <p>Age: {{ user.profile.person_age }}</p>
        <p>Monthly Income: {{ user.profile.person_income }}</p>
        <p>Home ownership status: {{ user.profile.person_home_ownership }}</p>
        <p>Employment Length: {{ user.profile.person_emp_length }}</p>
        <br>
        <p>Expected Loan Amount: {{ user.profile.loan_amnt }}</p>
        <p>Loan Intent: {{ user.profile.loan_intent }}</p>
        <p>Loan Rate: {{ user.profile.loan_int_rate }}</p>    
        <p>Loan Percent Income: {{ user.profile.loan_percent_income }}</p>  
        <br>
        <p>Credit History Length: {{ user.profile.cb_person_cred_hist_length }}</p>
        <p>Has defaulted on file? {{ user.profile.cb_person_default_on_file }}</p>

        <br>
        <p>Loan Grade: {{ user.profile.loan_grade }}</p>    

    <br>
    <div class="center">
            <a class="a2" href="{% url 'logout' %} ">Logout</a>
    </div>
{% endblock content %}